
    <script type="text/javascript">
        function loadAkws(){
        <% @akws.each do | akw | %>
          <% unless akw.lat.nil? || akw.lng.nil? || akw.lat == "" || akw.lng == "" %>
            var contentString = create_akw_content('<%= akw.name %>', '<%= akw.status %>', '<%= akw.full_link %>');
            placeMarker(contentString, <%= akw.lat %>, <%= akw.lng %>);
          <% end %>
        <% end %>
        clusterMarker();
      }
    </script>

    <p style="text-align: center;">
        Check out the measurements on the map.
    </p>

    <div id="map_for_landing_page" class="mapOnStartPage round" ></div>

    <p style="text-align: center;">
      Sign up for free and post some measurements.
    </p>

    <p>
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
    </p>