
    <div class="content" >
        <%= render 'follow_form' if signed_in? %>
        <% unless @user.microposts.empty? %>
            <div style="display: table;" class="microposts">
                <%= render :partial => 'shared/feed_item', :collection => @microposts %>
            </div>
            <%= will_paginate @microposts %>
        <% end %>
    </div>
    <div class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
    </div>
