
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      function shareOnFacebook(message, link){
        FB.init({
            appId:'216988828315277', cookie:true,
            status:true, xfbml:true
        });
        FB.ui({ method: 'feed',
                link: link,
                description: message});
      }
    </script>
    <script type="text/javascript">
      function loadLatLon(){
          var latlng = new google.maps.LatLng(<%= @measurement.lat %>, <%= @measurement.lon %>);
          return latlng;
      }
    </script>

    <div class="bigcontent" >
        <h1>
            <%= @measurement.msph %> Mikrosievert per hour
        </h1>
        <div class="timestamp" style="text-align:center;">
          Posted <%= time_ago_in_words(@measurement.created_at) %> ago.
        </div>

        <div id="map_for_measurement_page" class="map_for_measurement_page round" ></div>

        <div style="display:table-row;">
          <div style="display:table-cell;">
            <div style="display:table-row;">
              <div style="display:table-cell; width: 160px">
                <%= link_to gravatar_mes_for(@user), @user %>
              </div>
              <div style="display:table-cell; vertical-align: top; padding: 5px; width: 160px;">
                <%= link_to @user.fullname, @user, :class => "userBold" %><br/>
                <%= link_to pluralize(@user.measurements.count, "measurement"), @user, :class => "user" %><br/>
                <%= link_to pluralize(@user.followers.count, "follower"),  followers_user_path(@user.username), :class => "stat" %><br/>
                <%= link_to pluralize(@user.following.count, "following"), following_user_path(@user.username), :class => "stat" %><br/>
              </div>
            </div>
          </div>
          <div>
            <% if !@geigercounter.nil? %>
            <div style="display:table-row; ">
              <div style="display:table-cell; width: 160px;">
                <img src="<%= @geigercounter.url %>" width="150px"/>
              </div>
              <div style="display:table-cell; vertical-align: top; padding: 5px; width: 160px;">
                Geiger Counter <%= @geigercounter.name %> have <%= @geigercounter.tolerance %> % tolerance
                <% if !@geigercounter.manufacturer.empty? %>
                    and was manufactured by <%= @geigercounter.manufacturer %>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>

        <div class="measure_content">
            <%= @measurement.content %>
        </div>

        <div>
          Share on <a href="#" onclick="shareOnFacebook('<%= @measurement.spoken_measurement %>', 'http://radioactive-map.com/measurements/<%=@measurement.name%>');">facebook</a>
        </div>

        <% unless @measurement.comments.nil? %>
            <% @measurement.comments.each do |comment| %>
                <div class="measure_comment">
                    <div class="measure_comment_gravatar">
                        <%= link_to gravatar_for(comment.user), comment.user %>
                    </div>
                    <div class="measure_comment_content">
                        <span >
                            <%= comment.content %>
                        </span><br/>
                        <span class="timestamp">
                            Posted <%= time_ago_in_words(comment.created_at) %> ago
                        </span>
                    </div>
                </div>
            <% end %>
        <% end %>

        <% if signed_in? %>
        <div class="measure_comment_area" >
          <%= form_for(:comment, :url => comment_measurement_path(@measurement)) do |f|  %>
              <div>
                <%= f.label :content, "Your comment" %>
              </div>
              <div class="field" >
                <%= f.text_area :content, :maxlength => 240, :autocomplete => :off, :class => "measure_comment_txtarea round" %>
              </div>
              <div class="actions">
                <%= f.submit "comment", :class => "button" %>
              </div>
          <% end %>
        </div>
        <% end %>

    </div>
