<header>
    <script language="JavaScript">
        var winWidth = 950;
        var winHeigh = 550;
        var left = (screen.width/2)-(winWidth/2);
        var top = (screen.height/2)-(winHeigh/2);

        var domainlink = "https://graph.facebook.com/oauth/authorize?";
        var req_perms = "req_perms=email&";
        var clientid = "client_id=216988828315277&";
        var scope = "scope=email,offline_access&";
        var redirect = "redirect_uri=http://radioactive-map.com/facebook/start";
        var link = domainlink + req_perms + clientid + scope + redirect;
    </script>
    <%= logo %>
    <div style="float:right;">
      <nav class="round">
        <ul>
          <li><%= link_to "Home", home_path %></li>
          <% if signed_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Geiger", geigercounter_user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
          <% end %>
          <% if !signed_in? %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
      <% if !signed_in? %>
      <div style="clear:both; padding-top: 0px; margin-top: 10px; text-align: right;">
        <br/>
        <a href='javascript:var popupWindow = window.open(link, "popupWindow", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, menubar=1, resizable=1, width="+winWidth+",height="+winHeigh+"top="+top+", left="+left);'
           style="margin-right: 5px;" >
          <img src="/images/fb_login_icon.gif"  style="border: 0px solid white; padding: 0;" />
        </a>
      </div>
      <% end %>
    </div>

</header>